<%!-- <%= form_for @conn, Routes.session_path(@conn, :create), [as: :user], fn f -> %>
  <%= text_input f, :email, placeholder: "Email" %>
  <%= password_input f, :password, placeholder: "Password" %>
  <%= submit "Log in" %>
<% end %> --%>
